.single-request-modal {
  .comments {
    background-color: gainsboro;
    line-height: 1rem;
    border-radius: 10px;
    padding: 10px;
    p {
      margin-bottom: 5px;
      font-weight: 500;
    }
    small {
      font-style: italic;
    }
  }
  .uncontrolled-tab-request {
    margin-bottom: 1rem;
  }
  .tab-content {
    // background-color: red;
    p {
      font-size: 15px;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.01rem;
      color: #727e8c;
    }
    .help-icon {
      svg {
        font-size: 1.5rem;
      }
      p {
        font-size: 13px;
      }
    }
    h5 {
      font-size: 1rem;
    }
  }
}
.childModal {
  background: #383d419e !important;
}
