.single-request-modal {
  .comments {
    background-color: gainsboro;
    line-height: 1rem;
    border-radius: 10px;
    padding: 10px;
    p {
      margin-bottom: 5px;
      font-weight: 500;
    }
    small {
      font-style: italic;
    }
  }
  .child-modal {
    background: #383d419e;
  }
}