.login-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--operaciones);
    opacity: 0.9;
  }
  img {
    max-width: 22rem;
    margin-bottom: 1rem;
  }
}

.form-container {
  width: 23rem;
  background: transparent;
  a {
    cursor: pointer;
  }
}
