.documents-section {
  .card {
    max-width: 11rem;
    .card-title {
      font-size: 0.8rem !important;
    }
    .card-text {
      font-size: 0.7rem !important;
    }
    .card-footer {
      font-size: 0.7rem !important;
      font-weight: bold;
      small {
        margin-left: 5px;
      }
    }
  }
}
