.modal-admin-instructors {
  .action-filters {
    width: auto;
    margin: 10px 0px;
    // background-color: red;
    label {
      margin-bottom: 0px;
    }
    .custome-search-field {
      min-width: 29rem;
      height: 2rem;
    }
  }
  .action-btns {
  }

  table {
    .expand-cell-header {
      padding: 0px;
      text-align: center;
      vertical-align: middle;
    }
    .new-style {
      color: #475f7b;
      font-size: 0.7rem;
      letter-spacing: 1px;
      font-weight: bold;
      line-height: 1.4;
      text-transform: uppercase;
      text-align: center;
      vertical-align: middle;
    }
    .row-new-style {
      vertical-align: middle;
      color: #475f7b;
      font-size: 0.8rem;
      line-height: 1.4;
      .expand-cell {
        padding: 0px;
        text-align: center;
        vertical-align: middle;
      }
    }
    .parent-expand-foo {
      background-color: lightgreen;
    }
    .expanded-div {
      img {
        max-width: 100px;
        max-height: 100px;
      }
      table {
        margin-bottom: 0px;
        color: #727e8c;
        font-size: 0.8rem;
        line-height: 1.4;
        td {
          padding: 0.3rem 0;
        }
      }
    }
    .editing-cell {
      padding: 0px 10px;
      vertical-align: middle;
      input {
        height: 20px;
        font-size: 0.7rem;
        letter-spacing: 1px;
        line-height: 1.4;
      }
    }
    .selection-cell {
      padding: 0px;
      text-align: center;
      vertical-align: middle;
    }
  }
}

.modal-add-instructors {
  background-color: rgba(61, 59, 59, 0.37);
}
