#client-requests-history {
  table {
    text-align: center;
    th {
      padding-top: 10px;
      padding-bottom: 10px;
      vertical-align: middle;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 0.99rem;
      color: #475f7b;
      letter-spacing: 1px;
      svg {
        font-size: 1.5rem;
      }
    }
    td {
      vertical-align: middle;
    }
    tbody {
      tr {
        .credit-spent {
          font-weight: 500;
          small {
            font-size: 12px;
          }
          // color: red;
        }
        &:hover {
          background-color: gainsboro;
          cursor: pointer;
        }
      }
    }
    .selected-row {
      background-color: lightskyblue;
    }
    .selected-expanding-row {
      background-color: rgb(226, 247, 247);
    }
  }
}
