.participants-table-admin {
  color: #475f7b !important;
  line-height: 1.4 !important;
  th {
    font-weight: 500 !important;
    font-size: 0.8rem !important;
    letter-spacing: 1px !important;
  }
}
