.usuarios {
  form {
    small {
      span {
        color: red !important;
      }
    }
    .showPassword {
      display: flex;
      align-items: center;
      .form-check-label {
        font-size: 12px;
      }
    }
  }
}
