.steps-container {
  background: var(--cliente);
  background: linear-gradient(1200deg, var(--primary) 0%, var(--cliente) 58%, var(--primary) 100%);
  // opacity: 0.9;
  color: #fff;
  .steps-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 20%;
    .nav-item {
      position: relative;
      height: 7rem;

      &:before {
        position: absolute;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: #fff;
        top: 2rem;
        left: 0.5rem;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-weight: bold;
      }
      &:after {
        position: absolute;
        width: 3px;
        height: 100%;
        content: '';
        background-color: #ebebeb;
        top: 0;
        left: 1.9rem;
        z-index: 1;
      }
      a {
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-left: 5rem;
        flex-direction: column;
        color: #fff;
      }
      .active {
        background-color: var(--primary) !important;
        color: #fff !important;
      }
    }
  }
}
.tab-content {
  max-height: 92vh;
  min-height: 92vh;
  overflow-x: hidden;
  overflow-y: auto;
  vertical-align: middle;
}
