.navbar {
  // transition: all 0.1s ease-in-out;
  .navbar-nav {
    a {
      font-size: 1rem;
    }
    .userOptions {
      margin-right: 1rem;
      display: flex;
      img {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
.nav-scrolled {
  box-shadow: rgba(25, 42, 70, 0.13) -8px 12px 18px 0px;
  padding: 10px 15px !important;
}
