.setService {
  //   pointer-events: painted;
  margin: 3rem auto 2rem auto;
  .card-columns {
    column-count: 4;
  }
  tbody {
    cursor: pointer;
    tr {
      transition: 0.2s;
      td {
        .badge {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 70px;
          margin: auto;
          background-color: red;
          color: #fff;

          svg {
            font-size: 20px;
          }
          small {
            font-size: 15px;
            margin-left: 2px;
            font-weight: 600;
          }
        }
      }
      &:hover {
        background: #495057 !important;
        td {
          color: #fff;
        }
      }
    }

    .active {
      background: red !important;
      &:hover {
        background: red !important;
      }
      td {
        color: #fff;
      }
    }
  }
}
