.search-by-name {
  text-align: center;
  width: 50%;
  margin-right: 10px;
  .form-group {
    margin: 0px;
  }
  .searchResults {
    background-color: #fff;
    position: absolute;
    margin-left: 7px;

    z-index: 100;
    .result {
      padding: 5px 10px;
      display: flex;
      justify-content: space-between;
      border: 1px solid gainsboro;
      p {
        margin: 0pc;
      }
      &:hover {
        background-color: #adb5bd;
        cursor: pointer;
      }
    }
  }
}
