.table {
  .small-column {
    // background: red;
    width: 4rem;
    text-align: center;
  }
}
.expand-credits {
  line-height: 10px;
  .notes-wrapper {
    height: 7rem;
    border-radius: 10px;
    padding: 10px;
    background-color: whitesmoke;
  }
}
