.serviceHistory {
  -webkit-box-shadow: 5px 5px 30px -3px rgba(0, 0, 0, 0.45);
  box-shadow: 5px 5px 30px -3px rgba(0, 0, 0, 0.45);
  .arrow {
    color: red;
    margin-right: -15px;
    padding: 0px;
    font-size: 23px;
    // font-weight: bold;
  }
}
