// Override default variables before the import
$theme-colors: (
  "primary": #333,
  "danger": #e42526,
  "dark": #0d2128,
  "operario": #14524f,
  "admin": #970c0f,
  "cliente": #1d1d1b,
  "disabled": #e9ecef,
  "event-requested": yellow,
  "confirm-event": orange,
  "event-confirmed": dodgerblue,
  "event-finished": lightgreen,
  "event-canceled": red,
);

html {
  background-color: gainsboro;
  height: 100%;
  body {
    background-color: gainsboro;
    height: 100%;
    #root {
      height: 100%;
      .row {
        height: 100%;
      }
    }
  }
}
/* Scroll bar customized */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.308);
  // box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(133, 132, 132);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.637);
}

//Keyframe Mixin
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
  @-webkit-keyframes #{$name} {
    @content;
  }
}
// $border-radius: 2rem;

// .btn-lg {
//   border-radius: 2rem !important;
// }

// .jumbotron {
//   background-color: #0d2128 !important;
//   color: #fff;
//   border-radius: 0px !important;
//   a {
//     font-size: 16px;

//     padding-left: 20px;
//     padding-right: 20px;
//     font-weight: 600;
//     i {
//       margin-right: 5px;
//     }
//   }
//   h1 {
//     margin-bottom: 1.5rem;
//     line-height: 1;
//     font-size: 4.5rem;
//     font-weight: 600;
//   }
// }

// .display-4 {
//   font-weight: 600 !important;
// }
// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
