#table-pagination {
  table {
    text-align: center;
    th {
      padding-top: 10px;
      padding-bottom: 10px;
      vertical-align: middle;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 0.99rem;
      color: #475f7b;
      letter-spacing: 1px;
      border-color: rgb(179, 179, 179);
      background-color: rgb(193, 193, 193);
      svg {
        font-size: 1.5rem;
      }
    }
    td {
      border-color: rgb(193, 193, 193);
      vertical-align: middle;
    }
    tbody {
      tr {
        &:hover {
          background-color: rgb(164, 164, 164);
        }
      }
    }
  }
}
